@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-primary-950;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
  overflow-y: auto;

  #root {
    height: 100%;
  }
}

* {
  @apply font-inter;
  @apply text-sm;
  // https://forum.figma.com/t/font-in-browser-seem-bolder-than-in-the-figma/24656/6
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  @apply focus:outline-none;

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  :hover::-webkit-scrollbar-thumb {
    background: rgba(225, 225, 225);

    &:hover {
      cursor: default;
      background: rgb(215, 215, 215);
    }
  }

  :hover::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

@layer components {
  .note-card {
    @apply flex gap-x-2.5 rounded-xl border border-primary-500 bg-primary-50 p-2.5 pl-3 text-sm/6 text-primary-800;
  }
}
